.quoteSection {
  padding: 4rem 2rem;
  background: #fffdf5;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.description {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #555;
}

/* Formulaire */
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Row du formulaire */
.row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Input text & number */
.inputField {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
}

.inputField:focus {
  outline: none;
  border-color: #f4ca54;
}

/* Select */
.selectField {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
width: 100%;

}

.selectField:focus {
  outline: none;
  border-color: #f4ca54;
}

/* Textarea */
.textareaField {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
}

.textareaField:focus {
  outline: none;
  border-color: #f4ca54;
}

/* Bouton */
.submitButton {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  cursor: pointer;
}

/* Responsive */
@media (min-width: 640px) {
  .row {
    flex-direction: row;
    gap: 1rem;
  }

  .row input,
  .row select {
    flex: 1;
  }
}
