.hero-container{
   background:linear-gradient(rgba(0, 0, 0, 0.242), rgb(0, 0, 0)),
   url("/black-female-courier-working-checking-packages-delivery-van.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    margin-top: 60px;

}
@media screen and (max-width: 600px) {
  /* 1. Réduire les marges du texte */
  .hero-content {
    margin-top: 10px;
    margin: 10 !important;
    margin-bottom: 20px !important;
  }

.hero-container{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
  /* 2. Réduire gap des liens */
  .hero-links {
    gap: 20px !important;
    padding: 2px;
  }

  /* 3. Illustrations moins hautes */
  .illustrations-container {
    display: flex;
    margin-top: 50px;
    flex-direction: column;

  }
  .hero-links a{
    height: 50;
    gap: 2px;
    text-align: center;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

}
}


.hero-content{
    color: white;
    line-height: 2rem;
    flex-direction: column;
    margin: 50px;  
}
.hero-content h1{
  color: #ffffff;
  margin-top: 2rem;
   
}
.hero-content h2 {
  margin-top: 15px;
  color: #f4ca54;
}
.hero-links{
    display: flex;
    margin-top: 30px;
    gap: 40px;
}
.hero-links a:hover{
  transform: translate(2,2);
  color: rgb(255, 255, 255);
}


.hero-links a{
    border: 1px solid #f4ca54;
    padding: 10px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #f4ca54;
    color: black;


}

.illustrations-container{
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: flex-end;
  text-align: center;

}
.icon-item{
  margin-top: 50;
}
.icon-item:hover {
  color: #f4ca54; /* la nouvelle couleur au hover */
}
.text-area h2{
  color: #f4ca54;
  margin: 0;
}
.text-area p{
  color: rgba(255, 255, 255, 0.728);
  line-height: 1.2;
  margin: 0;
}



