.hero-container{
   background:linear-gradient(rgba(0, 0, 0, 0.612), rgb(0, 0, 0)),
   url("/black-female-courier-working-checking-packages-delivery-van.jpg");
    width: 100%;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;

}

.hero-content{
    color: white;
    line-height: 2rem;
    flex-direction: column;
    margin: 50px;  
}
.hero-content h1{
  color: #f4ca54;
  margin-top: 8rem;
   
}
.hero-content h2 {
  margin-top: 15px;
}
.hero-links{
    display: flex;
    margin-top: 30px;
    gap: 50px;
}
.hero-links a:hover{
  transform: translate(2,2);
  color: rgb(255, 255, 255);
}


.hero-links a{
    border: 1px solid #f4ca54;
    padding: 10px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #f4c95488;
    color: black;


}
.hero-link-1 {
  background-color: #f4ca54 !important;
  
}
.illustrations-container{
  width: 100%;
  height: 300px;
  display: flex;
  gap: 20px;
  align-items: flex-end;
  text-align: center;

}
.icons-area-1,.icons-area-2,.icons-area-3{
  margin: 0;
}
.text-area h2{
  color: #f4ca54;
  margin: 0;
}
.text-area p{
  color: rgba(255, 255, 255, 0.728);
  line-height: 1.2;
  margin: 0;
}



