/* NAVBAR GLOBAL */
.nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: #f4ca54;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* logo à gauche, menu à droite */
  padding: 0 20px;
}
.nav-container.scrolled {
  background-color: rgba(244, 201, 84, 0.728);
  backdrop-filter: blur(10px);
}

.closeMenu {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

/* MENU DESKTOP */
.menu-items {
  display: flex;      /* visible sur desktop */
  gap: 30px;
  list-style: none;
  align-items: center;
}

.menu-items li {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.menu-items li:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  transform: translateX(-8px);
  border-bottom: 2px solid #000000;
  padding-bottom: 5px;
}
/* HAMBURGER BUTTON (invisible desktop) */
.hamburger {
  display: none;      /* invisible sur desktop */
  width: 30px;
  height: 22px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background: black;
  border-radius: 5px;
}

/* MOBILE MENU */
.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 40vh;
  border-bottom-left-radius: 50px;
  background: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.15);
  padding-top: 100px;
  padding-left: 20px;
  z-index: 1500;
  display: none; /* masqué par défaut */
}

.mobileList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
}

.mobileList li a {
  text-decoration: none;
  color: black;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  /* Menu desktop invisible */
  .menu-items {
    display: none;
  }

  /* Hamburger visible */
  .hamburger {
    display: flex;
  }

  /* Mobile menu affiché via Framer Motion */
  .mobileMenu {
    display: block;
  }
}
