.menu-items{
    width: 100%;
    display: flex;
    list-style: none;
    gap: 10px;
    cursor: pointer;
    margin-right: 10px;
    justify-content: flex-end;

}
.nav-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #f4ca54;   
  display: flex;
  align-items: center;
  padding: 0px 20px;  
  box-shadow: 0 2px 5px rgba(0,0,0,0.05); 
}
.menu-items li:hover{
  border-bottom: 2px solid #ffffff;
  transform: translate(2,2);
}
