.section {
  padding: 5rem 1.5rem;
  background-image:linear-gradient(rgba(0, 0, 0, 0.653), rgba(0, 0, 0, 0.758)), url(/shipment-manager-asking-warehouse-workers-about-merchandise-storage-system-african-american-storehouse-employees-talking-using-inventory-software-laptop-reception-counter.jpg);
  background-size: cover;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #fff; /* couleur par défaut : blanc */
}

.highlight {
  color: #FFD700; /* jaune */
}


.subtitle {
  color: #ffffff;
  max-width: 700px;
  margin: 0 auto 4rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  background-color: #f4ca54;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: 
    transform 0.35s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 0.45s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25); 
  opacity: 1;
}

.icon {
  margin-bottom: 1rem;
  color: #fff;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.cardDescription {
  color: #555;
  font-size: 1rem;
  line-height: 1.5;
}
