/* page.module.css */

.container {
  padding: 2rem;
  text-align: center;
  font-family: var(--font-lato);
}

.title {
  color: #1a202c;
  font-size: 2.5rem;
  font-weight: 700;
}

.subtitle {
  color: #4a5568;
  font-size: 1.25rem;
  margin-top: 1rem;
}
